
@{
    ViewBag.Title = "DataTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataTable</h2>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>*@

</head>
<body>
    <div style="width: 1000px">

        <span>
            <label>Year:</label>
            <select size="1" id="YEAR" class="YEAR" title="" type="select" name="style">
                <option value="2020" selected>2020</option>
                <option value="2021">2021</option>
            </select>
        </span>

        <span>
            <label>Month:</label>
            <select size="1" id="Month" class="Month" title="" type="select" name="style">
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="Seprember">Seprember</option>
                <option value="October" selected>October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>
        </span>
        <span>
            <label>Cluster:</label>
            <select size="1" id="Cluster" class="Cluster" title="" type="select" name="style">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </span>
        <button id="btn" class="btn-success">load data</button>
        <div>
            <table id="tblCustomers" cellpadding="0" cellspacing="0" border="1" style="border-collapse:collapse">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>Id Ref Pelanggan</th>
                        <th>Nama Pelanggan</th>
                        <th>CLUSTER</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
    <link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">


        var apiBaseUrl = "https://localhost:44375/";
        var cluster = $('#Cluster').val;
        var month = $('#Month').val;
        var year = $('#YEAR').val;
        //var clusterVal = [];
        $('#Cluster').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            var clusterVal = this.value;
        });
        //var monthVal = [];
        $('#Month').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            var monthVal = this.value;
        });
        //var yearVal = [];
        $('#YEAR').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            var yearVal = this.value;
        });

        $(document).ready(function () {
            debugger
            $('#btn').on('click', function () {
                var clusterVal = document.getElementById("Cluster").value;
                var monthVal = document.getElementById("Month").value;
                var yearVal = document.getElementById("YEAR").value;
                $.ajax({
                    type: "GET",
                    cache: false,
                    async: false,
                    url: apiBaseUrl + 'api/GetCustomerData/all/' + clusterVal + '/' + monthVal + '/' + yearVal,
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (Data) {
                        alert(Data.d);
                    },
                    error: function (Data) {
                        alert(Data.d);
                    }
                });
            });
        });


        function OnSuccess(Data) {

            $("#tblCustomers").DataTable(
                {
                    bLengthChange: true,
                    lengthMenu: [[5, 10, 50, -1], [5, 10, 50, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    destroy: true,
                    data: Data,
                    columns: [{ 'data': 'MONTH' },
                    { 'data': 'IDREFPELANGGAN' },
                    { 'data': 'NAMA' },
                    { 'data': 'CLUSTER_NUM' }]
                });
        };


    </script>
</body>
</html>