
@{
    ViewBag.Title = "LineVis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LineVis</h2>

<!doctype html>
<html>
<head>
    <script src="~/Scripts/d3.v6.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/d3.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js" defer></script>
    <link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/Cluster.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/pdfmake.min.js" defer></script>
    <script type="text/javascript" src="~/Scripts/vfs_fonts.js" defer></script>
    <style>
        
    </style>
</head>
<body>
    <div style="width: 1000px">
        <input type="button" value="Print or Save to Pdf" id="btnPrint" /> Please click on this button to get chart and table on pdf
        <br />
        <span>
            <label>Year:</label>
            <select size="1" id="YEAR" class="YEAR" title="" type="select" name="style">
                @*<option value="2020" selected>2020</option>
                <option value="2021">2021</option>*@
            </select>
        </span>

        <span>
            <label>Month:</label>
            <select size="1" id="Month" class="Month" title="" type="select" name="style">
                @*<option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="Seprember">Seprember</option>
                <option value="October" selected>October</option>
                <option value="November">November</option>
                <option value="December">December</option>*@
            </select>
        </span>
        <span>

            <label>Cluster:</label>
            <select size="1" id="Cluster" class="Cluster" title="" type="select" name="style">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </span>
        <button id="btn" class="btn-success">load data</button>

    </div>
    <form id="form">
        <div id="chart" style="text-align: center"></div>
        <div>
            <table id="tblCustomers" cellpadding="0" cellspacing="0" border="1" style="margin-left: auto; margin-right: auto;" class="display" width="95%">
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Year</th>
                        <th>IdRefPelanggan</th>
                        <th>Name</th>
                        <th>Cluster</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </form>
    <script>
        var apiBaseUrl = "https://localhost:44375/";
        var clusterVal = 0;
        var monthVal = 'October';
        var yearVal = 2020;
        var cluster = $('#Cluster').val;
        var month = $('#Month').val;
        var year = $('#YEAR').val;
        var margin = { top: 30, right: 200, bottom: 70, left: 50 },
            width = 1200 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;
        var svg = d3.select("#chart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        $('#Cluster').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            var clusterVal = this.value;
        });
        //var monthVal = [];
        $('#Month').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            var monthVal = this.value;
        });
        //var yearVal = [];
        $('#YEAR').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            var yearVal = this.value;
        });


        //var clusterVal = [];
        $(function () {

            const monthNames = ["", "January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
            ];
            let qntYears = 4;
            let selectYear = $("#YEAR");
            let selectMonth = $("#Month");
            let selectDay = $("#day");
            let currentYear = new Date().getFullYear();

            for (var y = 0; y < qntYears; y++) {
                let date = new Date(currentYear);
                let yearElem = document.createElement("option");
                yearElem.value = currentYear
                yearElem.textContent = currentYear;
                selectYear.append(yearElem);
                currentYear--;
            }

            for (var m = 1; m < 13; m++) {
                let month = monthNames[m];
                let monthElem = document.createElement("option");
                monthElem.value = m;
                monthElem.textContent = month;
                selectMonth.append(monthElem);
            }

            var d = new Date();
            var month = d.getMonth() + 1;
            var year = d.getFullYear();
            var day = d.getDate();

            selectYear.val(year);
            selectYear.on("change", AdjustDays);
            selectMonth.val(month);
            selectMonth.on("change", AdjustDays);

            AdjustDays();
            selectDay.val(day)

            function AdjustDays() {
                var year = selectYear.val();
                var month = parseInt(selectMonth.val()) + 1;
                selectDay.empty();

                //get the last day, so the number of days in that month
                var days = new Date(year, month, 0).getDate();

                //lets create the days of that month
                for (var d = 1; d <= days; d++) {
                    var dayElem = document.createElement("option");
                    dayElem.value = d;
                    dayElem.textContent = d;
                    selectDay.append(dayElem);
                }
            }


            $("#form").hide();

            $('#btn').on('click', function () {
                //d3.selectAll(".svg").remove(); //removes event listeners and unmounts DOM elements
                //svg = null;
                d3.selectAll("div svg").remove();
                $("#form").show();

                var clusterVal = document.getElementById("Cluster").value;
                var monthVal = document.getElementById("Month").value;
                var yearVal = document.getElementById("YEAR").value;
                var colors = ["#ff0000", "#000000"];
                $.ajax({
                    type: "GET",
                    url: apiBaseUrl + 'api/GetCustomerData/all/' + clusterVal + '/' + monthVal + '/' + yearVal,
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {




                        function multilineChart() {

                            // var dimKey;

                            // Set the dimensions of the canvas / graph
                            var margin = { top: 30, right: 200, bottom: 70, left: 50 },
                                width = 1200 - margin.left - margin.right,
                                height = 500 - margin.top - margin.bottom;

                            // Parse the date / time
                            var parseDate = d3.time.format("%Y-%m-%d").parse;
                            var hoverDate = d3.time.format("%m-%d-%y");

                            // Set the ranges
                            var x = d3.scale.linear().range([0, width]);
                            var y = d3.scale.linear().range([height, 0]);
                            var color = d3.scale.category20();

                            var xAxis = d3.svg.axis()
                                .scale(x)
                                //.tickFormat(d3.time.format("%m-%d"))
                                .orient("bottom")
                                .innerTickSize(-height)
                                .outerTickSize(0)
                                .tickPadding(10);

                            var yAxis = d3.svg.axis()
                                .scale(y)
                                .orient("left")
                                .innerTickSize(-width)
                                .outerTickSize(0)
                                .tickPadding(10);

                            // Create the tooltip div
                            var tooltipDetail = d3.select("#chart").append("div")
                                .attr("class", "tooltipDetail")
                                .style("opacity", 0);

                            var tooltipSummary = d3.select("#chart").append("div")
                                .attr("class", "tooltipSummary")
                                .style("opacity", 0);

                            var svg = d3.select("#chart").append("svg")
                                .attr("width", width + margin.left + margin.right)
                                .attr("height", height + margin.top + margin.bottom)
                                .append("g")
                                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                            function chart(selection) {
                                selection.each(function (data) {

                                    // clean up data
                                    data.forEach(function (d) {
                                        d.HOUR_NUM = +d.HOUR_NUM;
                                        d.FDVC_NORMALIZED = +d.FDVC_NORMALIZED;
                                        //d.visible = 1;
                                    });

                                    // nest data
                                    var nested_data = d3.nest()
                                        .key(function (d) { return dimKey(d); })
                                        .entries(data);

                                    nested_data.forEach(function (d) {
                                        d.visible = 1;
                                    });

                                    color.domain(data.map(function (d) {
                                        return dimKey(d);
                                    }));


                                    var line = d3.svg.line()
                                        .interpolate("linear")
                                        .x(function (d) { return x(d.HOUR_NUM); })
                                        .y(function (d) { return y(d.FDVC_NORMALIZED); });


                                    x.domain(d3.extent(data, function (d) { return d.HOUR_NUM; }));
                                    y.domain(d3.extent(data, function (d) { return d.FDVC_NORMALIZED; }));

                                    svg.append("g")
                                        .attr("class", "x axis")
                                        .attr("transform", "translate(0," + height + ")")
                                        .call(xAxis)
                                        .selectAll("text")
                                        .style("text-anchor", "end")
                                        .attr("dx", "-.8em")
                                        .attr("dy", ".15em")
                                        .attr("transform", function (d) {
                                            return "rotate(-65)"
                                        })
                                    svg.append("g")
                                        .append("text")
                                        .attr("transform", "translate(0," + height + ")")
                                        .attr("y", 50)
                                        .attr("x", width / 2)
                                        .style("text-anchor", "middle")
                                        .attr("size", "20px")
                                        .text("Hour");

                                    svg.append("g")
                                        .attr("class", "y axis")
                                        .call(yAxis)
                                        .append("text")
                                        .attr("transform", "rotate(-90)")
                                        .attr("y", -50)
                                        .attr("x", -height / 2)
                                        .attr("dy", "0.76em")
                                        .style("text-anchor", "middle")
                                        .attr("size", "20px")
                                        .text("FDVC Normalized");


                                    // bind data to the lines
                                    var lines = svg.selectAll(".lines")
                                        .data(nested_data)
                                        .enter().append("g")
                                        .attr("class", "lines");

                                    // Add the paths for the lines
                                    lines.append("path")
                                        .attr("class", function (d) {
                                            if (d.key.substring(0, 8) != 'CENTROID') {
                                                var e = d.key;
                                                var k = e.replace(/[`~!#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/\s]/gi, '_');
                                                return "line " + k;
                                            }
                                            else {
                                                var e = "line " + d.key;
                                                console.log(e);
                                                return "line " + d.key;
                                            }

                                        })
                                        .attr("d", function (d) {
                                            // our inner array is d.values from the nesting
                                            return line(d.values);
                                        })
                                        .style("stroke", function (d, i) {
                                            if (d.key.substring(0, 8) != 'CENTROID') {
                                                return colors[1]
                                            }
                                            else {
                                                return colors[0]
                                            }
                                        })
                                        .style("stroke-width", function (d, i) {
                                            if (d.key.substring(0, 8) != 'CENTROID') {
                                                return "1px"
                                            }
                                            else {
                                                return "4px"
                                            }
                                        })
                                        .style("opacity", function (d, i) {
                                            if (d.key.substring(0, 8) != 'CENTROID') {
                                                return 0.5
                                            }
                                            else {
                                                return 1
                                            }

                                        })
                                        .style("stroke-linejoin", "round")
                                        .style("stroke-linecap", "round")
                                        .attr("fill", "none")
                                        .on("mouseover", function (d) {
                                            // Make the line bold
                                            console.log(this)
                                            d3.select(this).transition()
                                                .style("stroke-width", function (d, i) {
                                                    if (d.key.substring(0, 8) != 'CENTROID') {
                                                        return "2px"
                                                    }
                                                    else {
                                                        return "6px"
                                                    }

                                                })
                                                .style("stroke-linecap", "round")
                                                .style("stroke-linejoin", "round");


                                            // Fade out the other lines
                                            var otherlines = $(".line").not("path." + d.key);
                                            d3.selectAll(otherlines).transition()
                                                .style("opacity", 0.1)
                                                .style("stroke-width", function (d, i) {
                                                    if (d.key.substring(0, 8) != 'CENTROID') {
                                                        return "1px"
                                                    }
                                                    else {
                                                        return "4px"
                                                    }
                                                })
                                                .style("stroke-linecap", "round")
                                                .style("stroke-linejoin", "round")
                                                .style("stroke", "gray");


                                            // Show tooltips
                                            tooltipSummary.transition()
                                                .style("opacity", 0.8);
                                            tooltipSummary
                                                .html(d.key)
                                                .style("left", (d3.event.pageX + 10) + "px")
                                                .style("top", (d3.event.pageY - 25) + "px");
                                        })
                                        .on("mouseout", function (d) {
                                            // Make the line normal again
                                            d3.select(this).transition()
                                                .style("stroke-width", function (d, i) {
                                                    if (d.key.substring(0, 8) != 'CENTROID') {
                                                        return "1px"
                                                    }
                                                    else {
                                                        return "4px"
                                                    }

                                                })
                                                .style("stroke-linecap", "round")
                                                .style("stroke-linejoin", "round");

                                            // Make the other lines normal again
                                            var otherlines = $('.line').not("path." + d.key);
                                            d3.selectAll(otherlines).transition()
                                                .style("opacity", function (d, i) {
                                                    if (d.key.substring(0, 8) != 'CENTROID') {
                                                        return 0.5
                                                    }
                                                    else {
                                                        return 1
                                                    }

                                                })
                                                .style("stroke-width", function (d, i) {
                                                    if (d.key.substring(0, 8) != 'CENTROID') {
                                                        return "1px"
                                                    }
                                                    else {
                                                        return "4px"
                                                    }

                                                })
                                                .style("stroke", function (d, i) {
                                                    if (d.key.substring(0, 8) != 'CENTROID') {
                                                        return colors[1]
                                                    }
                                                    else {
                                                        return colors[0]
                                                    }

                                                })
                                                .style("stroke-linecap", "round")
                                                .style("stroke-linejoin", "round");

                                            tooltipSummary.transition().duration(500).style("opacity", 0);
                                        });



                                    // Get the maximum Y value
                                    function getMaxY() {
                                        var maxY = -1;
                                        nested_data.forEach(function (d) {
                                            if (d.visible === 1) {
                                                d.values.forEach(function (d) {
                                                    if (d.FDVC_NORMALIZED > maxY) {
                                                        maxY = d.FDVC_NORMALIZED;
                                                    }
                                                });
                                            }
                                        });
                                        return maxY;
                                    }

                                    // re-scale the Y axis
                                    function rescaleY() {
                                        y.domain([0, getMaxY()]);
                                        svg.select(".y").transition()
                                            .duration(1000).ease("sin-in-out")
                                            .call(yAxis);
                                    }

                                    // Helper function for updating the lines after selecting/deselecting on the legend
                                    function updateLines() {
                                        svg.selectAll(".line")
                                            .transition().duration(500)
                                            .delay(function (d, i) { return i * 20; })
                                            .attr("d", function (d) {
                                                return line(d.values);
                                            });
                                    }

                                    function updateCircles() {
                                        svg.selectAll(".circle circle")
                                            .transition().duration(500)
                                            .delay(function (d, i) { return i; })
                                            .attr("cy", function (d, i) { return y(d.FDVC_NORMALIZED) });
                                    }

                                });

                            }

                            // Get/set the dimension key
                            chart.dimKey = function (value) {
                                if (!arguments.length) return dimKey;
                                dimKey = value;
                                return chart;
                            };

                            return chart;

                        }

                        var chart = multilineChart()
                            .dimKey(function (d) {
                                if (d.NAMA != 'CENTROID_ID0') {
                                    return d.NAMA.replace(/[`~!#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/\s]/gi, '_');
                                }
                                else {
                                    return d.NAMA;
                                }

                            });

                        d3.select("#chart").datum(data).call(chart);
                        



                    },
                    error: function (msg) {
                        $("#result").text(msg);
                    }
                });
            });
        });
        $(function () {
            $('#btn').on('click', function () {
                debugger
                $("#tblCustomers").show();
                var clusterVal = document.getElementById("Cluster").value;
                var monthVal = document.getElementById("Month").value;
                var yearVal = document.getElementById("YEAR").value;
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: apiBaseUrl + 'api/GetCustomer/all/' + clusterVal + '/' + monthVal + '/' + yearVal,
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (response) {
                        alert(response.d);
                    },
                    error: function (response) {
                        alert(response.d);
                    }

                });
            });
            function OnSuccess(response) {
              
                $("#tblCustomers").DataTable(
                    {
                        bLengthChange: true,
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        bFilter: true,
                        bSort: true,
                        bPaginate: true,
                        destroy: true,
                        data: response,
                        columns: [{ 'data': 'MONTH' },
                        { 'data': 'YEAR' },
                        { 'data': 'IDREFPELANGGAN' },
                        { 'data': 'NAMA' },
                        { 'data': 'CLUSTER_NUM' }]
                    });
            };
        });
        $("#btnPrint").on("click", function () {
            debugger
            document.getElementsByClassName('domain')[0].setAttribute('stroke', 'LightGray');
            document.getElementsByClassName('domain')[1].setAttribute('stroke', 'LightGray');

            $("#tblCustomers").DataTable(
                {
                    bLengthChange: true,
                    lengthMenu: [[-1], ["All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    destroy: true,
                    columns: [{ 'data': 'MONTH' },
                    { 'data': 'YEAR' },
                    { 'data': 'IDREFPELANGGAN' },
                    { 'data': 'NAMA' },
                    { 'data': 'CLUSTER_NUM' }]
                });

            var divsToHide = [document.getElementsByClassName("dataTables_length"), document.getElementsByClassName("dataTables_filter"), document.getElementsByClassName("dataTables_info"), document.getElementsByClassName("dataTables_paginate paging_simple_numbers")]; //divsToHide is an array
            //var divsToHide2 = document.getElementsByClassName("dataTables_filter"); //divsToHide is an array
            for (var i = 0; i < 1; i++ ) {
                for (var j = 0; j < divsToHide.length; j++) {
                    divsToHide[j][i].style.visibility = "hidden"; // or
                    divsToHide[j][i].style.display = "none"; // depending on what you're doing
                }
            }
        
            var slides = document.getElementsByClassName("tick");
            for (var i = 1; i < slides.length; i++) {
                document.getElementsByClassName('tick')[i].setAttribute('stroke', 'DarkGray')
            }

            setTimeout(function () {
                var divsToHide = [document.getElementsByClassName("dataTables_length"), document.getElementsByClassName("dataTables_filter"), document.getElementsByClassName("dataTables_info"), document.getElementsByClassName("dataTables_paginate paging_simple_numbers")]; //divsToHide is an array
                for (var i = 0; i < 1; i++) {
                    for (var j = 0; j < divsToHide.length; j++) {
                        divsToHide[j][i].removeAttribute("style");
                        //divsToHide[j][i].style.visibility = false; // or
                        //divsToHide[j][i].style.display = "inline"; // depending on what you're doing
                    }
                }
                var slides = document.getElementsByClassName("tick");
                for (var i = 1; i < slides.length; i++) {
                    document.getElementsByClassName('tick')[i].removeAttribute('stroke')

                }
                $("#tblCustomers").DataTable(
                    {
                        bLengthChange: true,
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        bFilter: true,
                        bSort: true,
                        bPaginate: true,
                        destroy: true,
                        
                        columns: [{ 'data': 'MONTH' },
                        { 'data': 'YEAR' },
                        { 'data': 'IDREFPELANGGAN' },
                        { 'data': 'NAMA' },
                        { 'data': 'CLUSTER_NUM' }]
                    });

            }, 3000);

            //for (var i = 0; i < 22; i++) {
            //    document.getElementsByClassName('tick')[i].setAttribute('stroke', 'Gainsboro')
            //}
            //for (var j = 0; j < divsToHide2.length; j++) {
            //    divsToHide2[j].style.visibility = "hidden"; // or
            //    divsToHide2[j].style.display = "none"; // depending on what you're doing
            //}
            var clusterVal = $("#Cluster").val();
            var monthVal = $("#Month").val();
            var yearVal = $("#YEAR").val();
            var divContents = $("#form").html();
            var printWindow = window.open('', '', 'height=1400,width=1800');
            printWindow.document.write('<html><head><title>Export to PDF on ' + monthVal + ' ' + yearVal + ', cluster ' + clusterVal + '</title>');
            //printWindow.document.write('</head><body>');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });

    </script>
</body>
</html>