
@{
    ViewBag.Title = "Python";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LineVis</h2>

<!doctype html>
<html>
<head>
    <script src="~/Scripts/d3.v6.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/d3.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js" defer></script>
    <link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/Cluster.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/pdfmake.min.js" defer></script>
    <script type="text/javascript" src="~/Scripts/vfs_fonts.js" defer></script>
    <style>
        
    </style>
</head>
<body>
    <button id="exc-python" class="btn-success">Run Python</button>

</body>
<scripts>
    $('#exc-python').on('click', function (){

    })
</scripts>
</html>