
@{
    ViewBag.Title = "Python";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LineVis</h2>

<!doctype html>
<html>
<head>

    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js" defer></script>
    <link href="~/Scripts/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <style>
        
    </style>
</head>
<body>
    <button id="exc-python" class="btn-success">Run Python</button>
    @*<a href="file:D:\\Work\\PGN\\NIMO\\Python\\Run_Python_Script.bat" class="button">Go to Google</a>*@

    <script>
        $('#exc-python').on('click', function () {

            $.ajax({
                //url: '@Url.Action("Python", "Home")',
                url: 'https://localhost:44375/api/Execute_Python',
                data: ""
            }).done(function () {
                alert('Success');
            });
            //var wshShell = new ActiveXObject("WScript.Shell");
            //wshShell.Run("file:D:\\Work\\PGN\\NIMO\\Python\\Run_Python_Script.bat");

        })
    </script>

</body>

</html>